@use 'sass:color';
@use './colors.scss';

.button {
  background-color: colors.$button;
  border: thin solid;
  border-radius: 2px;
  color: colors.$background;
  font-family: 'Consolas', monospace;
  font-weight: bold;
  font-size: 0.9rem;
  height: 100%;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 5rem;

  &:hover {
    background-color: lighten(colors.$button, 10%);
  }
}

// Remove conditionals with 516
@supports (not (-webkit-hyphens: none)) and (not (-moz-appearance: none)) {
  .button {
    outline: none;
  }
}

.button-lightMode {
  background-color: colors.$lightBorder;
  border: none;
  color: black;

  &:hover {
    background-color: colors.$lightHover;
  }
}
