@use 'sass:map';

$background: #131313;
$button: #1f1f1f;
$lightMode: #ffffff;
$lightBorder: #bbbbbb;
$lightHover: #eaeaea;
$scrollbar-color-multiplier: 1 !default;

////////////////////////////////////////////////
// Normal chat colors
$say: #a4bad6;
$radio: #1ecc43;
$me: #5975da;
$ooc: #cca300;
$looc: #e362b4;

////////////////////////////////////////////////
// Subchannel chat colors
$ai: #d65d95;
$admin: #ffbbff;
$binary: #1e90ff;
$centcom: #2681a5;
$command: #5b8deb;
$engi: #cc7b01;
$hive: #855d85;
$medical: #57b8f0;
$science: #c68cfa;
$security: #e21111;
$syndicate: #ac6667;
$service: #7fc732;
$supply: #c09141;
$hail: #8b4cd8;
$ent: #cfcfcf;
$cling: #376340;
$exped: #d6bc67;

$_channel_map: (
  'Say': $say,
  'Comm': $radio,
  'Radio': $radio,
  'Me': $me,
  'OOC': $ooc,
  'LOOC': $looc,
  'AI': $ai,
  'io': $binary,
  'Cmd': $command,
  'Engi': $engi,
  'Med': $medical,
  'Sci': $science,
  'Sec': $security,
  'Merc': $syndicate,
  'Synd': $syndicate,
  'Pen': $syndicate,
  'Svc': $service,
  'Supp': $supply,
  'Hail': $hail,
  'Ent': $ent,
  'Cling': $cling,
  'Exped': $exped,
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map-merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
