@use 'sass:map';

$background: #131313;
$button: #1f1f1f;
$lightMode: #ffffff;
$lightBorder: #bbbbbb;
$lightHover: #eaeaea;
$scrollbar-color-multiplier: 1 !default;

$_channel_map: (
  'Say': #a4bad6,
  'Radio': #1ecc43,
  'Me': #5975da,
  'OOC': #cca300,
  'LOOC': #e362b4,
  'AI': #d65d95,
  'Cling': #376340,
  'Cmd': #5b8deb,
  'Engi': #cc7b01,
  'Ent': #cfcfcf,
  'Exped': #d6bc67,
  'Hail': #8b4cd8,
  'io': #1e90ff,
  'Med': #57b8f0,
  'Merc': #ac6667,
  'Pen': #ac6667,
  'Sci': #c68cfa,
  'Sec': #e21111,
  'Supp': #c09141,
  'Svc': #7fc732,
  'Synd': #ac6667,
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map-merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
