@use 'sass:color';
@use './colors.scss';

// Remove conditionals with 516
@supports (not (-webkit-hyphens: none)) and (not (-moz-appearance: none)) {
  $dragSize: 0.3rem;
}

// Remove with 516
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  $dragSize: 0.6rem;
}

$dragSize: 0.3rem;
$borderSize: 2px;

.dragzone-horizontal {
  border-left: $borderSize solid;
  border-right: $borderSize solid;
  color: transparent;
  height: $dragSize;
  width: 100%;
}

.dragzone-left {
  border-left: $borderSize solid;
  left: 0;
}

.dragzone-right {
  border-right: $borderSize solid;
  right: 0;
}

.dragzone-vertical {
  color: transparent;
  height: 100%;
  position: absolute;
  top: 0;
  width: $dragSize;
}

.dragzone-top {
  border-top: $borderSize solid;
}

.dragzone-bottom {
  border-bottom: $borderSize solid;
}

/** Lightmode static theme */
.dragzone-lightMode {
  border-color: colors.$lightBorder;
}
