@use 'sass:color';
@use './colors.scss';

.window {
  background-color: colors.$background;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  overflow: hidden;
}

// Remove with 516
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .window {
    height: 100%;
    width: 100%;
  }
}

.window-lightMode {
  background-color: colors.$lightMode;
}

.window__content {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1px 0 1px 5px;
}

/** Window sizes */
.window-30 {
  height: 30px;
}

.window-50 {
  height: 50px;
}

.window-70 {
  height: 70px;
}
