
body {
    background-color: #fff;
}
body.dark {
    background-color: rgb(30,34,39);
    color: #fff;
}
.main b {
    font-weight: normal;
    color:goldenrod;
}
h1,
h3,
h4,
h5,
h6{
    color:goldenrod;
}
h2.date{
    color:teal;
}

body.dark code[class*=language-],
body.dark table tbody>tr:nth-child(odd)>td,
body.dark table tbody>tr:nth-child(odd)>th {
    background: #282c34
}
a:link { color:lightgreen; }
a:visited { color:seagreen; }
a:hover { color:red; }
a:active { color:red; }