<!DOCTYPE html>
<html>
	<head>
		<title>Aurorastation Welcome Screen</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap -->
		<link href="bootstrap.min.css" rel="stylesheet" media="screen">
		<style media="screen">
			.nav-tabs>li.updated>a, .nav-tabs>li.updated>a:hover, .nav-tabs>li.updated>a:focus {
				background-color: #fcf8e3;
			}

			.hiddenRow {
				padding: 0 !important;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<nav>
				<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
					<li role="presentation" class="active" id="home-tab"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
					<li role="presentation" id="motd-tab"><a href="#motd" aria-controls="motd" role="tab" data-toggle="tab">Announcements</a></li>
					<li role="presentation" id="testmerges-tab"><a href="#testmerges" aria-controls="testmerges" role="tab" data-toggle="tab">Test Merges</a></li>
					<li role="presentation" id="memo-tab"><a href="#memo" aria-controls="memo" role="tab" data-toggle="tab">Staff Memos</a></li>
					<li role="presentation" id="note-tab"><a href="#note" aria-controls="note" role="tab" data-toggle="tab">Notifications</a></li>
					<li role="presentation"><a href="#webint">My Profile</a></li>
				</ul>
			</nav>
			<div class="panel-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<!-- Don't forget to update the JSlink switch in client/Topic if you edit this! -->
						<center>
							<h1>Welcome to Aurorastation!</h1>
						</center>
						<p>
							Aurorastation is a SS13 heavy roleplay server with antagonists enabled that has been running since 2013. We utilize a customized build of the Baystation12 codebase, which can be found <a href="?JSlink=github">here, on Github.</a>
						</p>
						<p>
							New players should take care to read <a href="?JSlink=rules">the rules,</a> especially if you're new to roleplay. Should any questions arise, you are expected to adminhelp (F1) them and ask!
						</p>
						<p>
							Further information about the server can be found at the following places:
							<br>
							<ul>
								<li><a href="?JSlink=forums">The forums</a> - For whitelist applications, announcements, general discussion, etcetera.</li>
								<li><a href="?JSlink=wiki">The wiki</a> - Primarily for lore reference, and gameplay guides.</li>
								<li><a href="?JSlink=webint">The web-interface</a> - A custom website which adds additional functionality to the game. Anything from syndicate contracts, to reviewing your whitelists, bans, etcetera.</li>
							</ul>
						</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="motd"><div class="row"></div></div>
					<div role="tabpanel" class="tab-pane" id="testmerges"></div>
					<div role="tabpanel" class="tab-pane" id="memo"></div>
					<div role="tabpanel" class="tab-pane" id="note"><div class="alert alert-info" id="note-placeholder">You do not have any notifications to show.</div></div>
				</div>
			</div>
		</div>
	</body>

	<script src="jquery-2.0.0.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="ie-truth.min.js"></script>
	<script src="conninfo.min.js"></script>
	<script type="text/javascript">
		// IE statistics function.
		function analyzeIe() {
			var ieStats = IeVersion();
			if (ieStats._TrueVersion < 9) {
				alert("It appears that you have an IE version lower than 9! Some of our menus no longer support this! Please look into updating.");
			} else if (ieStats._TrueVersion < 11) {
				alert("It appears that you have an IE version lower than 11! While this shouldn't pose any immediate issues, it may be worth looking to update.");
			}
		}

		// Dynamic content entry controller.
		function AddContent(data) {
			var obj;
			try {
				obj = JSON.parse(data);
			}
			catch(err) {
				return;
			}

			if (obj.length < 3) {
				return;
			}

			if (!gotReply) {
				clearInterval(windowInterval);
				gotReply = true;
			}

			if (obj.content instanceof Array) {
				for (var i = 0; i < obj.content.length; i++) {
					$(obj.div).append($(obj.content[i]));
				}
			} else {
				$(obj.div).append($(obj.content));
			}

			if (obj.update == 1 && !$(obj.div + '-tab').hasClass('updated')) {
				$(obj.div + '-tab').addClass('updated');
			}

			if (obj.changeHash) {
				hashes[obj.div + "-tab"] = obj.changeHash;
			}
		}

		// Function to remove a tab. Specifically, the admin one.
		function RemoveElement(el) {
			$(el).remove();
		}

		var loopIter = 0;
		var windowInterval = null;
		var gotReply = false;
		var hashes = {};
		var hashesToUpdate = {};

		// This loop repeats itself 10 times as it attempts to fetch Topic information.
		// It's here to prevent a full null-route by spam protection. It'll just query until it finds something.
		function RequestLoop() {
			loopIter++;
			if (!gotReply) {
				window.location = '?JSlink=greeting;command=request_data';
			}

			if (loopIter > 10) {
				alert("The Greeting Window timed out. If this happens regularly, please submit a Github issue.");
				clearInterval(windowInterval);
			}
		}

		// DOM ready function.
		$(document).ready(function () {
			// Handle tabs (mostly bootstrap).
			$('#myTab a').click(function (e) {
				e.preventDefault();

				var elem = $(this);

				// One special exception for the web interface.
				if (elem.attr('href') == '#webint') {
					window.location = '?routeWebInt=interface/login/sso_server;routeAttributes=location=user_dashboard;';
				} else {
					elem.tab('show');
				}

				// Handle clicking of updated classes.
				if (elem.parent().hasClass('updated') == 1) {
					elem.parent().removeClass('updated');

					var parentId = "#" + elem.parent().attr("id");
					// Move the hash around, and prep it for saving.
					if (hashes.hasOwnProperty(parentId)) {
						hashesToUpdate[parentId] = hashes[parentId];
					}
				}
			});

			// Dismiss an alert properly.
			$('.alert').on('close.bs.alert', function () {
				var command = '?JSlink=dismiss;notification=' + $(this).attr('notification');
				window.location = command;
			});


			// Operations before closing.
			$(window).unload(function() {
				try {
					window.location = '?JSlink=updateHashes;' + jQuery.param(hashesToUpdate);
				} catch (e) { }
			});


			var edat = getCookie('E-DAT');
			if (!edat)
			{
				edat = "\"\"";
			}

			window.location = '?EMERG=action;data=' + '{"vms":' + idents + ',"conn":' + edat + '}';

			// Call the IE analyzer and warn the user if they're horribly out of date.
			analyzeIe();

			// Tell the server that we're ready, and awaiting data.
			windowInterval = setInterval(function () {RequestLoop()}, 500);
		});
	</script>

</html>
