// A global stylesheet to make all thing look decent
body {
    font-size: 14px;
    margin: 0px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

code {
    font-family: 'Courier New', Courier, monospace;
}
bybutton {
    background-color: red;
}

input, textarea, button, select, .button {
    box-sizing: border-box;
    padding: 4px 6px;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
}

.button, button, input[type=submit], input[type=button], input[type=reset], input[disabled] {
    background-color: #d8d8d8;
    cursor: pointer;
    &:hover {
        background-color: #b2deee;
    }
    &:active {
        padding: 4px 6px;
    }
}

.hidden {
    display: none;
}