// Bootstrap variables

// $font-size-base: 0.8rem;

$border-radius: 0rem;
$border-radius-lg: 0rem;
$border-radius-sm: 0rem;

$body-bg: $nt-gray;
$body-color: white;

$pre-color: $white;

$progress-bg: tint-color($nt-gray, 40%);

// My variables
$ui-header-bg: shade-color($nt-gray, 40%);
