$departmental-colors: (
  "Command": #114dc1,
  "Command Support": #114dc1,
  "Security": #991818,
  "Engineering": #c67519,
  "Medical": #15903a,
  "Science": #a44799,
  "Operations": #593616,
  "Service": #90524b,
  "Civilian": #999999,
  "Equipment": #6c5b73,
  "Miscellaneous": #5d6a67,
);

@each $dept, $color in $departmental-colors {
  .text-dept-#{to-lower-case($dept)} {
    color: $color !important;
  }
  .bg-dept-#{to-lower-case($dept)} {
    background-color: $color !important;
  }
  .border-dept-#{to-lower-case($dept)} {
    border-color: $color !important;
  }
}