@use 'sass:color';
@import 'icons.scss';
@import 'variables.scss';
@import 'utilities.scss';
@import 'theme-basic.scss';
@import 'theme-nano.scss';
@import 'departmental.scss';
@import '_mixins.scss';

.dark-theme {
    color: #ffffff;
}

// A global stylesheet to make all thing look decent
body {
    font-size: map-get($font-sizes, 'normal');
    margin: 0px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: auto;
    min-width: 240px;
}

body.vueui {
    overflow-y: hidden;
}

#content {
    height: calc(100vh - 36px);
    &.mcomputer {
        height: calc(100vh - 72px);
    }
    &.uiDebug {
        height: calc(50vh - 36px);
        &.mcomputer {
            height: calc(50vh - 72px);
        }
    }
}

#debug {
    height: 50vh;
    display: none;
    &.uiDebug {
        display: inherit;
    }
}

#content, #debug {
    overflow-y: auto;
    margin-right: -8px;
    margin-top: -8px;
}

#content > div {
    margin-right: 8px;
    margin-top: 8px;
    background-image: url(resources/uiTransparent.png);
    padding: 0.5em;
    box-sizing: border-box;
}

.uiTitleWrapper {
    margin: -8px -8px 10px;
    position: relative;
    float: none;
    clear: both;
    user-select: none;
    -ms-user-select: none;
    cursor: default;
    & > .titleBar {
        height: 32px;
        @include vertical-align(middle, 24px);
        & > * {
            display: inline-block;
            margin-left: 8px;
            line-height: 32px;
        }

        & > .uiTitleText {
            font-size: 16px;
        }

        & > .uiDebugIcon {
            cursor: pointer;
            transition: color 250ms;
            &.uiNoDebug {
                display: none;
            }
            &:hover {
                color: #507aac;
                transition: color 0ms;
            }
        }

        & > .uiTitleClose {
            display: block;
            float: right;
            width: 45px;
            font-size: 20px;
            text-align: center;
            transition: color 250ms, background-color 250ms;
            &:hover {
                color: rgba(255, 255, 255, 1.0);
                background-color: #cc0000;
                transition: color 0ms, background-color 0ms;
            }
        }
    }
}

code {
    font-family: 'Courier New', Courier, monospace;
}

.table.border {
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 0.15em;
    background-color: rgba(0, 0, 0, 0.3);
}

.header.border {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #556d99;
    border-radius: 0.15em;
}

.item.border {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.15em;
}

input, textarea, button, select, .button {
    box-sizing: border-box;
    padding: 4px 6px;
    border-radius: 4px;
    display: inline-block;
}

button, .button {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input, textarea, select {
    border: 1px solid black;
}


a, .button, button, input[type=submit], input[type=button], input[type=reset], input[disabled] {
    user-select: none;
    -ms-user-select: none;
    background-color: #d8d8d8;
    cursor: pointer;
    padding: 2px 4px;
    vertical-align: top;
    &:hover {
        background-color: #b2deee;
    }
    .uiIcon16 {
        margin: 0;
    }
    * {
        vertical-align: top;
    }
}

.hidden {
    display: none !important;
}

.notice {
    background: #ffac4e;
    color: #000000;
    font-style: italic;
    font-weight: bold;
    padding: 3px 4px;
    margin: 4px 0px;
    box-sizing: border-box;
}

.displayBar {
    display: inline-block;
    background: #ffffff;
    margin: 0 5px 0 0;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.15em;
    overflow: hidden;
    width: 236px;
    height: 16px;
    vertical-align: text-bottom;
    .displayBarFill {
        width: 0%;
        height: 100%;
        background: #acacac;
        overflow: hidden;
        float: left;
        color: #000000;
    }
    &.good .displayBarFill {
        background: #5fe42b;
    }
    &.average .displayBarFill {
        background: #ff8000;
    }
    &.bad .displayBarFill {
        background: #ff2323;
    }
    &.highlight .displayBarFill {
        background: #9dc7d6;
    }
}

.csserror {
    display: none;
}

.tooltip {
    &.label {
        text-decoration: underline;
    }
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.highlight {
    color: darkblue;
}

.good {
    color: #4f7529;
}

.average {
    color: #cd6500;
}

.bad {
    color: #ee0000;
}
