@import "colors.scss";
@import "theme.scss";
@import "~bootstrap/scss/bootstrap";
@import "icons.scss";

.csserror {
  display: none;
}

.ui-header {
  background-color: $ui-header-bg;
}

body.vueui {
  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow: hidden;

  .app-content {
    overflow: scroll;
    padding: 4px;
    height: 100vh;
  }
}

html {
  font-size: 12px;
}
