@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(resources/MaterialIcons-Regular.woff) format('woff');
    // For available icons look at https://material.io/tools/icons/
}

.mattIcon, .uiIcon16 {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    color: inherit;
    overflow: visible;
    &.red {
        color: #cc0000;
    }
    &.green {
        color: #2fd02f;
    }
}
.uiIcon24
{
    font-size: 24px;
    @extend .uiIcon16;
    &.uiStatusIcon {
        &::before {
            content: "visibility"
        }
        &.uiStatusGood {
            color: #008800;
        }
        &.uiStatusAverage {
            color: #afa404;
        }
        &.uiStatusBad {
            color: #c20000;
        }
    }
    
}