.theme-basic {
    a, .button, button, input[type=submit], input[type=button], input[type=reset], input[disabled] {
        display: inline;
        background: none;
        border: none;
        border-radius: 0;
        color: #0000ee;
        padding: 0.1em 0 0 0;
        margin-right: 2px;
        text-decoration: underline;
        &:hover {
            background: none;
            color: #551a8b;
        }
        &:active {
            color: #ee0000;
        }
    }

    .tooltip {
        &.content {
            background: #ffffff;
            border: 1px solid darkgrey;
        }
    }
}

.theme-basic-dark {
    @extend .theme-basic;
    color: white;
    background: black;
    a, .button, button, input[type=submit], input[type=button], input[type=reset], input[disabled] {
        color: lightgreen;
        &:hover {
            color: rgb(204, 235, 118);
        }
        &:active {
            color: #11FFFF;
        }
        &:visited {
            color: seagreen;
        }
    }
    .uiTitleWrapper {
        background-color: #464646;
    }

    .tooltip {
        &.content {
            background: black;
        }
    }
}