// https://stackoverflow.com/a/33221185
@mixin vertical-align($align: middle, $size: 16px) {
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: $align;
        // you can add font-size 0 here and restore in the children to prevent
        // the inline-block white-space to mess the width of your elements
        font-size: 0;
    }
    & > * {
        vertical-align: $align;
        // although you need to know the font-size, because "inherit" is 0
        font-size: $size;
    }
}
