@use '../components/Section.scss';

$phone-button-width: 90px;
$phone-button-height: 45px;
$phone-button-spacing: 0.5rem;

.Stack__item.comm-contacts:nth-child(odd):not(:only-child) {
  background-color: lighten(Section.$background-color, 25%);
}

.address-input {
  padding: 0 0.5rem;

  .Button {
    width: $phone-button-width;
    height: $phone-button-height;
    line-height: $phone-button-height;
    font-size: 3rem;
    font-family: 'Trebuchet MS';
  }

  .keypad {
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;

    .Button {
      border-radius: 32px;
      margin-bottom: $phone-button-spacing;
    }
  }

  .action-buttons {
    justify-content: space-evenly;
    text-align: center;

    .Button {
      font-size: 2.5rem;
      width: calc(#{$phone-button-width} * 2);
    }
  }
}
