@use '../components/Divider.scss';

.theme-faction_select {
  .Divider {
    &--vertical--dashed {
      border-left: Divider.$thickness dashed Divider.$color;
    }
  }

  .LabeledList__content {
    text-align: right;
  }

  .Layout__content {
    background-image: none;
  }
}
