.HealthAnalyzer__line {
  line-height: 1.35;
}

.scan_notice {
  color: #5f94af;
}

.scan_warning {
  color: #ff4444;
  font-style: italic;
}

.scan_danger {
  color: #ff4444;
  font-weight: bold;
}

.scan_red {
  color: red;
}

.scan_green {
  color: #6fff6f;
}

.scan_blue {
  color: #5f94af;
}

.scan_orange {
  color: #ffa500;
}

.scan_orange_danger {
  color: #ffa500;
  font-weight: bold;
}
