<div>
{{:helper.link('Main', 'cart', {'page' : 'overview_main'}, null)}}
{{:helper.link('Submitted', 'cart', {'page' : 'overview_submitted'}, null)}}
{{:helper.link('Approved', 'cart', {'page' : 'overview_approved'}, null)}}
{{:helper.link('Shipped', 'cart', {'page' : 'overview_shipped'}, null)}}
{{:helper.link('Delivered', 'cart', {'page' : 'overview_delivered'}, null)}}
{{:helper.link('Shipments', 'cart', {'page' : 'overview_shipments'}, null)}}
{{:helper.link('Bounties', 'cart', {'page' : 'bounties'}, null)}}
{{:helper.link('Settings', 'cart', {'page' : 'settings'}, null)}}
</div>
<br>
<br>
{{if data.page == "overview_main"}}
    <div class="statusDisplay" style="min-height: 100px;">
        <div class="item">
            <div class="itemContent" style="width: 100%;">
                <table>
                    <tr>
                        <td><b>Welcome:</b></td>
                        <td>{{:data.username}}</td>
                    </tr>
                    <tr>
                        <td><b>Cargo Account Value</b></td>
                        <td>{{:data.cargo_money}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><h3>Shuttle Operations</h3></td>
                    </tr>
                    {{if data.shuttle_has_arrive_time}}
                    <tr>
                        <td>ETA:</td>
                        <td>{{:data.shuttle_eta_minutes}} Minutes</td>
                    </tr>
                    {{/if}}
                    <tr>
                        <td colspan="2">
                        {{if data.shuttle_can_launch}}
                            {{:helper.link('Send', 'play', {'shuttle_send' : '1'}, null )}}
                        {{else}}
                            {{:helper.link('Send', 'play', null, "disabled" )}}
                        {{/if}}
                        {{if data.shuttle_can_cancel}}
                            {{:helper.link('Cancel', 'stop', {'shuttle_cancel' : '1'}, null )}}
                        {{else}}
                            {{:helper.link('Cancel', 'stop', null, "disabled" )}}
                        {{/if}}
                        {{if data.shuttle_can_force}}
                            {{:helper.link('Force', 'seek-end', {'shuttle_force' : '1'}, null )}}
                        {{else}}
                            {{:helper.link('Force', 'seek-end', null, "disabled" )}}
                        {{/if}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{{else data.page == "overview_submitted"}}
    <div class="statusDisplay" style="min-height: 100px;">
        <div class="item">
            <div class="itemContent" style="width: 100%;">
                <table>
                    <tr>
                        <td colspan="2"><h3>Submitted Orders</h3></td>
                    </tr>
                    <tr>
                        <td><b>Submitted Order Number:</b></td>
                        <td>{{:data.order_submitted_number}}</td>
                    </tr>
                    <tr>
                        <td><b>Submitted Order Value:</b></td>
                        <td>{{:data.order_submitted_value}} Credits</td>
                    </tr>
                    <tr>
                        <td><b>Estimated Shuttle Time:</b></td>
                        <td>{{:data.order_submitted_shuttle_time / 10}}s</td>
                    </tr>
                    <tr>
                        <td><b>Estimated Shuttle Cost:</b></td>
                        <td>{{:data.order_submitted_shuttle_price}} Credits</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {{props data.order_list}}
            <tr>
                <td>{{:value.order_id}}</td>
                <td>{{:value.ordered_by}}</td>
                <td>{{:value.price_cargo}}</td>
                <td>
                    {{:helper.link('Approve', 'check', {'order_approve' : value.order_id}, null)}}
                    {{:helper.link('Reject', 'close', {'order_reject' : value.order_id}, null)}}
                    {{:helper.link('Details', 'zoomin', {'order_details' : value.order_id, 'page': 'order_details'}, null)}}
                    {{:helper.link('Print', 'print', {'order_print' : value.order_id}, null)}}
                </td>
            </tr>
        {{/props}}
    </table>
{{else data.page == "overview_approved"}}
    <div class="statusDisplay" style="min-height: 100px;">
        <div class="item">
            <div class="itemContent" style="width: 100%;">
                <table>
                    <tr>
                        <td colspan="2"><h3>Approved Orders</h3></td>
                    </tr>
                    <tr>
                        <td><b>Approved Order Number:</b></td>
                        <td>{{:data.order_approved_number}}</td>
                    </tr>
                    <tr>
                        <td><b>Approved Order Value:</b></td>
                        <td>{{:data.order_approved_value}} Credits</td>
                    </tr>
                    <tr>
                        <td><b>Estimated Shuttle Time:</b></td>
                        <td>{{:data.order_approved_shuttle_time / 10}}s</td>
                    </tr>
                    <tr>
                        <td><b>Estimated Shuttle Cost:</b></td>
                        <td>{{:data.order_approved_shuttle_price}} Credits</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
	<table>
    <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    {{props data.order_list}}
		<tr>
			<td>{{:value.order_id}}</td>
            <td>{{:value.ordered_by}}</td>
            <td>{{:value.price_cargo}}</td>
            <td>
                {{:helper.link('Details', 'zoomin', {'order_details' : value.order_id, 'page': 'order_details'}, null)}}
                {{:helper.link('Print', 'print', {'order_print' : value.order_id}, null)}}
            </td>
		</tr>
    {{/props}}
	</table>
    </div>
{{else data.page == "overview_shipped"}}
    <div class="statusDisplay" style="min-height: 100px;">
        <div class="item">
            <div class="itemContent" style="width: 100%;">
                <table>
                    <tr>
                        <td colspan="2"><h3>Shipped Orders</h3></td>
                    </tr>
                    <tr>
                        <td><b>Shipped Order Number:</b></td>
                        <td>{{:data.order_shipped_number}}</td>
                    </tr>
                    <tr>
                        <td><b>Shipped Order Value:</b></td>
                        <td>{{:data.order_shipped_value}} Credits</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
	<table>
    <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    {{props data.order_list}}
		<tr>
			<td>{{:value.order_id}}</td>
            <td>{{:value.ordered_by}}</td>
            <td>{{:value.price_cargo}}</td>
            <td>
                {{:helper.link('Details', 'zoomin', {'order_details' : value.order_id, 'page': 'order_details'}, null)}}
                {{:helper.link('Print', 'print', {'order_print' : value.order_id}, null)}}
            </td>
		</tr>
    {{/props}}
	</table>
    </div>
{{else data.page == "overview_delivered"}}
    <div class="statusDisplay" style="min-height: 100px;">
        <div class="item">
            <div class="itemContent" style="width: 100%;">
                <table>
                    <tr>
                        <td colspan="2"><h3>Delivered Orders</h3></td>
                    </tr>
                    <tr>
                        <td><b>Delivered Order Number:</b></td>
                        <td>{{:data.order_delivered_number}}</td>
                    </tr>
                    <tr>
                        <td><b>Delivered Order Value:</b></td>
                        <td>{{:data.order_delivered_value}} Credits</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
	<table>
    <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    {{props data.order_list}}
		<tr>
			<td>{{:value.order_id}}</td>
            <td>{{:value.ordered_by}}</td>
            <td>{{:value.price_cargo}}</td>
            <td>
                {{:helper.link('Details', 'zoomin', {'order_details' : value.order_id, 'page': 'order_details'}, null)}}
                {{:helper.link('Print', 'print', {'order_print' : value.order_id}, null)}}
            </td>
		</tr>
    {{/props}}
	</table>
    </div>
{{else data.page == "overview_shipments"}}
    <h3>Shipment Overview</h3>
	<table>
    <tr>
        <th>Shipment #</th>
        <th>Expense</th>
        <th>Income</th>
        <th>Action</th>
    </tr>
    {{props data.shipment_list}}
		<tr>
			<td>{{:value.shipment_num}}</td>
            <td>{{:value.shipment_cost_purchase}}</td>
            <td>{{:value.shipment_cost_sell}}</td>
            <td>{{:helper.link('Print', 'print', {'shipment_print' : value.shipment_num}, null)}}</td>
		</tr>
    {{/props}}
	</table>
    </div>
{{else data.page == "settings"}}
    <div class="statusDisplay" style="min-height: 100px;">
        <div class="item">
            <div class="itemContent" style="width: 100%;">
                <table>
                    <tr>
                        <td colspan="2"><h3>Settings</h3></td>
                    </tr>
                    <tr>
                        <td><b>Cargo Handling Fee:</b></td>
                        <td>{{:helper.link(data.handling_fee, 'pencil', {'handling_fee' : '1'}, null)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{{else data.page == "bounties"}}
    <h3>Nanotrasen Cargo Bounties</h3>
    <table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Reward</th>
        <th>Completion</th>
        <th>Status</th>
    </tr>
    {{props data.bounties}}
        {{if value.high_priority}}
            <tr style={{:value.background}}>
                <td><b>{{:value.name}}</b></td>
                <td><b>High Priority: {{:value.description}}</b></td>
                <td><b>{{:value.reward_string}}</b></td>
                <td>{{:value.completion_string}}</td>
                {{if value.can_claim}}
                <td>{{:helper.link('Claim Bounty', 'check', {'claim_bounty' : value.name}, null)}}</td>
                {{else value.claimed}}
                <td>Claimed</td>
                {{else}}
                <td>Unclaimed</td>
                {{/if}}
            </tr>
        {{else}}
            <tr style={{:value.background}}>
                <td>{{:value.name}}</td>
                <td>{{:value.description}}</td>
                <td>{{:value.reward_string}}</td>
                <td>{{:value.completion_string}}</td>
                {{if value.can_claim}}
                <td>{{:helper.link('Claim Bounty', 'check', {'claim_bounty' : value.name}, null)}}</td>
                {{else value.claimed}}
                <td>Claimed</td>
                {{else}}
                <td>Unclaimed</td>
                {{/if}}
            </tr>
        {{/if}}
    {{/props}}
	</table>
    {{:helper.link('Print', 'print', {'bounty_print' : '1'}, null)}}
{{else data.page == "order_details"}}
    <div class="statusDisplay" style="min-height: 100px;">
        <div class="item">
            <div class="itemContent" style="width: 100%;">
                <table>
                    <tr>
                        <td colspan="2"><h3>Order No: {{:data.order_details.order_id}}</h3></td>
                    </tr>
					<tr>
                        <td><b>Tracking Code:</b></td>
                        <td>{{:data.order_details.tracking_code}}</td>
                    </tr>
                    <tr>
                        <td><b>Price (Customer):</b></td>
                        <td>{{:data.order_details.price_customer}}</td>
                    </tr>
                    <tr>
                        <td><b>Price (Cargo):</b></td>
                        <td>{{:data.order_details.price_cargo}}</td>
                    </tr>
                    <tr>
                        <td><b>Item Value:</b></td>
                        <td>{{:data.order_details.price}}</td>
                    </tr>
                    <tr>
                        <td><b>Shipment Cost:</b></td>
                        <td>{{:data.order_details.shipment_cost}}</td>
                    </tr>
                    <tr>
                        <td><b>Payment Status:</b></td>
                        <td>{{:data.order_details.status_payment}}</td>
                    </tr>
                    <tr>
                        <td><b>Shipment Status:</b></td>
                        <td>{{:data.order_details.status_pretty}}</td>
                    </tr>
                    <tr>
                        <td><b>Customer:</b></td>
                        <td>{{:data.order_details.ordered_by}}</td>
                    </tr>
                    <tr>
                        <td><b>Reason:</b></td>
                        <td>{{:data.order_details.reason}}</td>
                    </tr>
                    {{if data.order_details.authorized_by}}
                    <tr>
                        <td><b>Authorized By:</b></td>
                        <td>{{:data.order_details.authorized_by}}</td>
                    </tr>
                    {{/if}}
                    {{if data.order_details.time_submitted}}
                    <tr>
                        <td><b>Submitted at:</b></td>
                        <td>{{:data.order_details.time_submitted}}</td>
                    </tr>
                    {{/if}}
                    {{if data.order_details.time_approved}}
                    <tr>
                        <td><b>Approved at:</b></td>
                        <td>{{:data.order_details.time_approved}}</td>
                    </tr>
                    {{/if}}
                    {{if data.order_details.time_shipped}}
                    <tr>
                        <td><b>Shipped at:</b></td>
                        <td>{{:data.order_details.time_shipped}}</td>
                    </tr>
                    {{/if}}
                    {{if data.order_details.time_paid}}
                    <tr>
                        <td><b>Paid at:</b></td>
                        <td>{{:data.order_details.time_paid}}</td>
                    </tr>
                    {{/if}}
                </table>
            </div>
        </div>
    </div>

	<table width="100%">
        <tr>
            <th>Item Name</th>
            <th>Supplier</th>
            <th>Price</th>
        </tr>
    {{props data.order_details.items}}
		<tr>
			<td>{{:value.name}}</td>
            <td>{{:value.supplier_name}}</td>
            <td>{{:value.price}}</td>
		</tr>
    {{/props}}
	</table>
{{else}}
    else
{{/if}}