<div class="statusDisplay" style="min-height: 100px;">
	<div class="item">
		<div class="itemContent" style="width: 100%;">
            <table>
                <tr>
                    <td><b>Welcome:</b></td>
                    <td>{{:data.username}}</td>
                </tr>
                <tr>
                    <td><h3>Order</h3></td>
                </tr>
                <tr>
                    <td><b>Items:</b></td>
                    <td>{{:data.order_item_count}}</td>
                </tr>
                <tr>
                    <td><b>Price:</b></td>
                    <td>{{:data.order_value}} Credits</td>
                </tr>
                <tr>
                    <td>{{:helper.link('Order Details', 'cart', {'page' : 'order'}, null)}}</td>
                    <td>{{:helper.link('Clear', 'cancel', {'clear_order' : 'clear_order'}, null)}} {{:helper.link("Submit Order", 'gear', {'submit_order' : 'submit_order'}, null)}}</td>
                </tr>
            </table>
		</div>
	</div>
</div>

{{if data.page == "main"}}
    <div class="item">
        <div class="itemLabel">
            Item Category: {{:data.selected_category}}
        </div>
        <br>
        <div>
            {{props data.cargo_categories}}
                {{:helper.link(value.display_name, value.icon, {'select_category' : value.name}, (data.selected_category == value.name) ? 'selected' : null)}}                
            {{/props}}
        </div>
    </div>
    <hr>
    <div>
	<table>
    {{for data.category_items}}
		<tr>
			<td><b>{{:value.name}}</b></td>
		</tr>
		<tr>
			<td><i>{{:value.description}}</i></td>
		</tr>
		<tr>
			<td>{{:helper.link('Item Details', 'gear', {'item_details' : value.path}, null)}}</td>
		</tr>
		<tr><td><hr></td></tr>
    {{/for}}
	</table>
    </div>
{{else data.page == "item_details"}}
<div>
    <table>
		<tr>
			<td colspan="2">{{:helper.link('Return', 'gear', {'page' : 'main'}, null)}}</td>
		</tr>
        <tr>
            <td><b>Name:</b></td>
            <td>{{:data.item_details.name}}</td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td>{{:data.item_details.description}}</td>
        </tr>
        <tr>
            <td><b>Items per Order:</b></td>
            <td>{{:data.item_details.amount}}</td>
        </tr>
    </table>
    <br>
    <b>Suppliers:</b>
    <br>
    {{props data.item_details.suppliers}}
        {{:helper.link(key + " " + value.base_purchase_price, 'gear', {'add_item' : data.item_details.path, 'supplier': key}, null)}}
    {{/for}}
</div>
{{else data.page == "order"}}
    <br>
	<table width="100%">
        <tr>
            <th>Name</th>
            <th>Supplier</th>
            <th>Price</th>
        </tr>
    {{props data.order_items}}
		<tr>
			<td>{{:value.name}}</td>
            <td>{{:value.supplier}}</td>
            <td>{{:value.price}}</td>
			<td>{{:helper.link('Delete', 'close', {'remove_item' : value.item_id}, null)}}</td>
		</tr>
    {{/props}}
	</table>
	<td>{{:helper.link("Submit Order", 'play', {'submit_order' : 'submit_order'}, null)}}</td>
	
    <td>{{:helper.link('Return', 'gear', {'page' : 'main'}, null)}}</td>
{{/if}}