<!--
Title: Crew Monitoring Console (Main content)
Used In File(s): \code\game\machinery\computer\crew.dm
 -->
<style type="text/css">
	table.wideTable   {
		width:100%;
	}
	td.living   {
		width:180px;
	}
	td.tracking   {
		width:40px;
	}
</style>

{{:helper.link('Show Tracker Map', 'pin-s', {'showMap' : 1})}}
<table class='wideTable'><tbody>
	{{for data.crewmembers}}
		<tr class="candystripe">
			<td>{{:value.name}} ({{:value.ass}}): </td>

			{{if value.stype >= 1}}
				{{if value.tpulse == -1}}
					<td><span class="white">Pulse</span> <span class='{{:value.pulse_span}}'>{{:value.pulse}}</span></td>
				{{else}}
					<td><span class="white">Pulse</span> <span class='{{:value.pulse_span}}'>{{:value.pulse}}</span> bpm</td>
				{{/if}}
			{{else}}
				{{if value.alert}}
					<td><span class="bad">Medical issue detected</span></td>
				{{else}}
					<td>No issues detected</td>
				{{/if}}
			{{/if}}

			{{if value.stype >= 2}}
				<td><span class="white">BP</span> {{:value.pressure}} {{if value.oxyg}}(<span>{{:value.oxyg}}</span> oxygenation){{/if}}</td>
			{{else}}
				<td></td>
			{{/if}}

			{{if value.stype >= 2}}
				<td><span class="white">Temp</span> {{:value.bodytemp}} C</td>
			{{else}}
				<td></td>
			{{/if}}

			{{if value.stype >= 3}}
				<td><span class="white">Location</span> {{:value.area}} ({{:value.x}}, {{:value.y}}, {{:value.z}})</td>
			{{else value.stype == 2}}
				<td><span class="white">Location</span> Not Available</td>
			{{else}}
				<td></td>
			{{/if}}

			{{if data.isAI}}
				{{if value.stype >= 3}}
					<td class='tracking'>{{:helper.link('Track', null, {'track' : value.ref})}}</td>
				{{else}}
					<td class='tracking'>{{:helper.link('Track', null, {}, 'disabled')}}</td>
				{{/if}}
			{{/if}}
		</tr>
	{{/for}}
</tbody></table>
