<h3>Crusher Management</h3>
<div class="item">
	<div class="itemLabel">
		Link Pistons:
	</div>
	<div class="itemContent">
		{{:helper.link('Initialize', 'refresh', { 'initialize' : '1' })}}
	</div>
</div>
<div>
	<div class="itemLabel">
		Hatch Control:
	</div>
	<div class="itemContent">
		{{:helper.link('Open', 'refresh', { 'hatch_open' : '1' })}}
		{{:helper.link('Close', 'refresh', { 'hatch_close' : '1' })}}
	</div>
</div>
<div>
	<div class="itemLabel">
		Activate:
	</div>
	<div class="itemContent">
		{{:helper.link('Start', 'alert', { 'crush' : '1' })}}
	</div>
</div>


<h3>Crusher Monitoring</h3>
<div>
	<div class="itemLabel">
		Linked Pistons:
	</div>
	<div class="itemContent">
		{{:data.piston_count}}
	</div>
</div>
<div>
	<div class="itemLabel">
		Linked Airlocks:
	</div>
	<div class="itemContent">
		{{:data.airlock_count}}
	</div>
</div>
{{if data.message }}
<div>
	<div class="itemLabel">
		Message:
	</div>
	<div class="itemContent">
		{{:data.message}}{{:helper.link('', 'close', { 'message' : '1' })}}
	</div>
</div>
{{/if}}
