<h3>Crusher Management</h3>
<div class="item">
	<div class="itemLabel">
		Link Pistons:
	</div>
	<div class="itemContent">
		{{:helper.link('Link Pistons', 'refresh', { 'search_pistons' : '1' })}}
	</div>
</div>

<h3>Crusher Monitoring</h3>
<div class="item">
	<div class="itemLabel">
		Linked Pistons:
	</div>
	<div class="itemContent">
		{{:data.num_linked_pistons}}
	</div>
</div>
<div>
	<div class="itemLabel">
		Progress:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.crushprogress, 0, 100)}}
		<div class="statusValue">
			{{:helper.round(data.crushprogress)}}%
		</div>
	</div>
</div>
{{if data.message != ""}}
<div>
	<div class="itemLabel">
		Message:
	</div>
	<div class="itemContent">
		{{:data.message}}
		&nbsp;
		{{:helper.link('', 'close', { 'message' : '1' })}}
	</div>
</div>
{{/if}}
<div>
	<div class="itemLabel">
		Hatch Control:
	</div>
	<div class="itemContent">
		{{:helper.link('Open', 'refresh', { 'hatch_open' : '1' }, data.hatch_status ? 'selected' : null)}}
		{{:helper.link('Close', 'refresh', { 'hatch_close' : '1' }, data.hatch_status ? null : 'selected')}}
	</div>
</div>
<div>
	<div class="itemLabel">
		Activate:
	</div>
	<div class="itemContent">
		{{:helper.link('Start', 'alert', { 'crush' : '1' })}}
	</div>
</div>
