
{{for data.docks}}
  <div class='item' style="width: 100%;">
    <div class='itemLabel'>
      {{:value.name}}
    </div>
    <div class='itemContent'>
      {{if value.shuttle}}
        {{:value.shuttle}}
      {{/if}}
    </div>
  </div>
{{/for}}
