
{{if data.connected_name}}
  <h3>
    Connected to network: {{:data.connected_name}}
  </h3>
{{else}}
  <h3>
    Connected to network: ?????
  </h3>
{{/if}}

<table>
  {{for data.docks}}
    <tr>
      <td>
        {{:value.name}}
      </td>
      <td>
        {{if value.shuttle}}
          {{:value.shuttle}}
        {{/if}}
      </td>
    </tr>
  {{/for}}
</table>
