
{{if data.connected_name}}
  <h3>
    Connected to network: {{:data.connected_name}}
  </h3>
{{else}}
  <h3>
    Connected to network: ???
  </h3>
  {{:helper.link('Reconnect', null, {'action' : 'reconnect'}, null)}}
{{/if}}

<table>
  <tr>
    <td><b>Docking port<b><td>
    <td><b>Docked ship<b></td>
  </tr>
  {{for data.docks}}
    <tr>
      <td>
        {{:value.name}}
      </td>
      <td>
        {{if value.shuttle}}
          {{:value.shuttle}}
        {{/if}}
      </td>
    </tr>
  {{/for}}
</table>

