<H2><span class="white">Welcome, Operative.</span></H2>

<H2>Please select your launch target:</H2>
{{if data.status}}
    Pod Status: <span class="bad">Nonoperational</span></H2>
{{else}}
    Pod Status: <span class="good">Operational</span></H2>
    {{:helper.link('Departures', 'gear', {'fire' : 'arrivals'})}}<br><br>
    {{:helper.link('Cargo Surface', 'gear', {'fire' : 'cargo'})}}<br><br>
    {{:helper.link('Command Surface', 'gear', {'fire' : 'commandescape'})}}<br><br>
{{/if}}

