The current alert level is: 
{{if data.alertLevel == 'green'}}
	<span class='good'>Green</span>
{{/if}}
{{if data.alertLevel == 'blue'}}
	<span style='color: rgb(13, 186, 212);font-weight: bold;'>Blue</span>
{{/if}}
{{if data.alertLevel == 'yellow'}}
	<span style='color: rgb(225, 225, 125);font-weight: bold;'>Yellow</span>
{{/if}}
{{if data.alertLevel == 'red'}}
	<span class='bad'>Red</span>
{{/if}}
{{if data.alertLevel == 'delta'}}
	<span class='bad'>DELTA</span>
{{/if}}
<hr/>
<h3>State</h3>
{{:helper.link('Normal', '', {'state': 'inactive'}, data.active ? null : 'selected')}}
{{:helper.link('Lockdown', '', {'state': 'active'}, data.active ? 'selected' : null)}}
<h3>Timed Lockdown</h3>
{{:helper.link('Set', '', {'tmr' : 'set'})}}
{{if data.timing}}
{{:helper.link('Stop', '', {'tmr' : 'stop'})}}
{{/if}}
{{if !(data.timing)}}{{:helper.link('Start', '', {'tmr' : 'start'})}}{{/if}}<br/>
{{if data.time}}Time Left: {{:data.time}} seconds.{{/if}}