<div class="item">
	<div class="itemLabel">
		Power:
	</div>
	<div class="itemContent">
		{{:helper.link(data.power ? 'On' : 'Off', null, {'command' : 'power'}, data.config ? 'disabled' : null)}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Config:
	</div>
	<div class="itemContent">
		{{:helper.link('Configure', null, {'command' : 'configure'}, null, data.config ? 'selected' : null)}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Set Flow Rate Limit:
	</div>
	<div class="itemContent">
		<div class="statusValue">
		{{if data.config}}
			{{:helper.link(data.set_flow_rate/10, null, {'command' : 'set_flow_rate'})}} L/s
		{{else}}
			{{:(data.set_flow_rate/10)}} L/s
		{{/if}}
		</div>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Current Flow Rate:
	</div>
	<div class="itemContent">
		<div class="statusValue">
			{{:(data.last_flow_rate/10)}} L/s
		</div>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Load:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.last_power_draw, 0, data.max_power_draw, (data.last_power_draw < data.max_power_draw - 5) ? 'good' : 'average')}}
		<div class="statusValue">
			{{:data.last_power_draw}} W
		</div>
	</div>
</div>

{{if data.config}}

	<div class="item">
		<div style="width: 315px; text-align: center">
			<div style="float: left">
				<div class="white" style="height: 26">Port</div>
				{{for data.ports}}
					<div class="average" style="height: 26">{{:value.dir}} Port</div>
				{{/for}}
			</div>

			<div style="float: left; margin-left: 10">
				<div class="white" style="height: 26">Input</div>
				{{for data.ports}}
					<div style="height: 26">
						{{:helper.link(' ', null, {'command' : 'switch_mode', 'mode' : 'in', 'dir' : value.dir}, null, value.input ? 'selected' : null)}}
					</div>
				{{/for}}
			</div>

			<div style="float: left; margin-left: 10">
				<div class="white" style="height: 26">Output</div>
				{{for data.ports}}
					<div style="height: 26">
						{{:helper.link(' ', null, {'command' : 'switch_mode', 'mode' : 'out', 'dir' : value.dir}, null, value.output ? 'selected' : null)}}
					</div>
				{{/for}}
			</div>

			<div style="float: left; margin-left: 10">
				<div class="white" style="height: 26">Filter</div>
				{{for data.ports}}
					<div style="height: 26">
						{{:helper.link(value.f_type ? value.f_type : 'None', null, {'command' : 'switch_filter', 'mode' : value.f_type, 'dir' : value.dir}, value.filter ? null : 'disabled', value.f_type ? 'selected' : null)}}
					</div>
				{{/for}}
			</div>
		</div>
	</div>
{{else}}

	<div class="item">
		<div style="width: 315px; text-align: center">
			<div style="float: left">
				<div class="white" style="height: 26">Port</div>
				{{for data.ports}}
					<div class="average" style="height: 26">{{:value.dir}} Port</div>
				{{/for}}
			</div>
			<div style="float: left; margin-left: 10">
				<div class="white" style="height: 26">Mode</div>
				{{for data.ports}}
					<div style="height: 26">
							{{if value.input}}
								Input
							{{else value.output}}
								Output
							{{else value.f_type}}
								{{:value.f_type}}
							{{else}}
								Disabled
							{{/if}}
					</div>
				{{/for}}
			</div>
		</div>
	</div>

{{/if}}
