<h3>Sensors control console</h3>
<div class='block'>
	{{:helper.link(data.on ? 'Switch off' : 'Switch on', 'gear', { 'toggle' : 1 }, data.status != 'MISSING' ? null : 'disabled', data.on ? 'selected' : null)}}
	<div class='item'>
		<div class="itemLabel">
			<span class='white'>Status:</span>
		</div>
		<div class="itemContent">
			{{:data.status}}
		</div>
	</div>
	<div class='item'>
		<div class="itemLabel">
			<span class='white'>Range:</span>
		</div>
		<div class="itemContent">
			{{:helper.link(data.range, null, { 'range' : 1 }, null, null)}}
		</div>
	</div>
</div>
<div class='block'>
	<div class='item'>
		<div class="itemLabel">
			Integrity:
		</div>
		<div class="itemContent">
			{{if data.health < (data.max_health * 0.25)}}
				{{:helper.displayBar(data.health, 0, data.max_health, 'bad')}}
				<br><span class="bad">{{:data.health}}/{{:data.max_health}}</span>
			{{else data.health < data.max_health *.75}}
				{{:helper.displayBar(data.health, 0, data.max_health, 'average')}}
				<br><span class="average">{{:data.health}}/{{:data.max_health}}</span>
			{{else}}
				{{:helper.displayBar(data.health, 0, data.max_health, 'good')}}
				<br><span class="good">{{:data.health}}/{{:data.max_health}}</span>
			{{/if}}
		</div>
	</div>
	<div class='item'>
		<div class="itemLabel">
			Temperature:
		</div>
		<div class="itemContent">
			{{if data.heat < (data.critical_heat * 0.5)}}
				{{:helper.displayBar(data.heat, 0, data.critical_heat, 'good')}}
			{{else data.heat < (data.critical_heat * 0.75)}}
				{{:helper.displayBar(data.heat, 0, data.critical_heat, 'average')}}
			{{else}}
				{{:helper.displayBar(data.heat, 0, data.critical_heat, 'bad')}}
			{{/if}}
		</div>
		<div class="itemContent">
			{{if data.heat < (data.critical_heat * 0.5)}}
				<span class="good">Temperature low.</span>
			{{else data.heat < (data.critical_heat * 0.75)}}
				<span class="average">Sensor temperature high!</span>
			{{else}}
				<span class="bad">TEMPERATURE CRITICAL: Disable or reduce power immediately!</span>
			{{/if}}
		</div>
	</div>
</div>
<div class='item'>
	<div class="itemContent">
		<div class='item'>
			<span class='white'>Sector map view</span>
			{{:helper.link(data.viewing ? 'Engaged' : 'Disengaged', 'shuffle', { 'viewing' : 1 }, null, data.viewing ? 'selected' : null)}}
		</div>
	</div>
</div>
<h4>IFF Management</h4>
<div class='block'>
	{{:helper.link(data.id_on ? 'Switch off' : 'Switch on', 'gear', { 'toggle_id' : 1 }, data.id_status != 'NOBEACON' ? null : 'disabled', data.id_on ? 'selected' : null)}}
	<div class='item'>
		<div class="itemLabel">
			<span class='white'>Status:</span>
		</div>
		<div class="itemContent">
			{{:data.id_status}}
		</div>
	</div>
	<div class='item'>
		<div class="itemLabel">
			<span class='white'>Class:</span>
		</div>
		<div class="itemContent">
			{{if data.can_change_class}}
				{{:helper.link(data.id_class, 'gear', { 'change_ship_class' : 1 })}}
			{{else}}
				<span class='white'>{{:data.id_class}}</span>
			{{/if}}
		</div>
		<br>
		<div class="itemLabel">
			<span class='white'>Designation:</span>
		</div>
		<div class="itemContent">
			{{if data.can_change_name}}
				{{:helper.link(data.id_name, 'gear', { 'change_ship_name' : 1 })}}
			{{else}}
				<span class='white'>{{:data.id_name}}</span>
			{{/if}}
		</div>
	</div>
</div>
<h4>Sensor contacts</h4>
<h4>Sensor Contacts</h4>
<div class='block'>
{{if data.contacts}}
	<table>
	{{for data.contacts}}
	<tr>
	<div class='item'>
		<td>{{:helper.link('Scan', 'search' ,{ 'scan' : value.ref }, null, null)}}</td>
		<td><span class='white'>{{:value.name}}</span>, bearing {{:value.bearing}}</td>
	</div>
	</tr>
	{{/for}}
	</table>
{{/if}}
{{if data.contact_details}}
	<class="itemContent">
	{{:data.contact_details}}
	<br/>
	</div>
	<class="item">
	{{:helper.link('Print', 'search', { 'scan' : 'print' })}}
	{{:helper.link('Clear', 'refresh', { 'scan' : 'clear' })}}
	</div>
{{/if}}
</div>
<h4>Distress Beacons</h4>
<div class='block'>
<span class='average'>Press the 'Listen' button to listen to the distress message.</span>
{{if data.distress_beacons}}
	<table>
	{{for data.distress_beacons}}
	<tr>
	<div class='item'>
		<td>{{:helper.link('Listen', 'info' ,{ 'play_message' : value.caller }, null, null)}}</td>
		<td><span class='white'>{{:value.caller}}</span>, bearing {{:value.bearing}}, sent by {{:value.sender}}</td>
	</div>
	</tr>
	{{/for}}
	</table>
{{/if}}
</div>
{{if data.status == 'MISSING'}}
	<div class='item'>
		{{:helper.link('Link up with the sensor suite', 'gear', { 'link' : 1 }, data.status == 'MISSING' ? null : 'disabled', null)}}
	</div>
{{/if}}
