<div class='statusDisplay'>
	{{if data.no_contents}}
		<div class='notice'>No materials loaded.</div>
	{{else}}
		{{for data.contents}}
			<div class='line'>
				<div class='statusLabel'>{{:value.name}}</div>
				<div class='statusValue'>{{:value.amount}}</div>
				{{:helper.link('Release', 'eject', {'release_stack' : value.path})}}
			</div>
		{{/for}}
	{{/if}}
</div>
<div>
	<div class='line'>
		<div class='statusLabel'>Stacking:</div>
		<div class='statusValue'>{{:data.stack_amt}}</div>
		{{:helper.link('Change', 'wrench', {'change_stack' : 1})}}
	</div>
</div>
