<div class='item'>
    {{if data.active}}
    {{:helper.link('Disengage Uplink', 'pin-s', {'uplink' : 'd'})}}
    {{else}}
    {{:helper.link('Engage Uplink', 'pin-s', {'uplink' : 'e'})}}
    {{/if}}
</div>