<div class="item">
	<div class="itemLabelWide">
		Behaviour controls are {{:data.locked ? "locked" : "unlocked"}}.
	</div>
</div>
<br>
{{if data.access}}
    <div class="item">
		<div class="itemLabelWide">
			Turret Status:
		</div>
		<div class="itemContentNarrow">
			{{:helper.link('Enabled', null, {'command' : 'enable', 'value' : 1},  data.enabled ?'redButton' : null)}}
			{{:helper.link('Disabled',null, {'command' : 'enable', 'value' : 0}, !data.enabled ? 'selected' : null)}}
		</div>
	</div>	

    {{if data.is_lethal}}
        <div class="item">
            <div class="itemLabelWide">
                Lethal Mode:
            </div>
			{{if data.can_switch}}
				<div class="itemContentNarrow">
                {{:helper.link('On', null, {'command' : 'lethal', 'value' : 1},  data.lethal ?'redButton' : null)}}
                {{:helper.link('Off',null, {'command' : 'lethal', 'value' : 0}, !data.lethal ? 'selected' : null)}}
				</div>
			{{else}}
				<div class="itemContentNarrow">
			    {{:helper.link('On', null, null, 'disabled')}}
                {{:helper.link('Off',null, null, 'disabled')}}
            	</div>
			{{/if}}
        </div>	
    {{/if}}
    
    {{for data.settings}}
        <div class="item">
            <div class="itemLabelWide">
                {{:value.category}}
            </div>
            <div class="itemContentNarrow">
                {{:helper.link('On', null, {'command' : value.setting, 'value' : 1},  value.value ? 'selected' : null)}}
                {{:helper.link('Off',null, {'command' : value.setting, 'value' : 0}, !value.value ? 'selected' : null)}}
            </div>
        </div>
    {{/for}}
{{/if}}

<div class='item'>
    <div class="itemLabelWide">
		<b>List of Turrets:</b>
    </div>
    {{for data.turrets}}
        <div class="item">
            <div class="itemLabelWide">
                {{:value.name}}
            </div>
            <div class="item">
                {{:helper.link('Enabled', null, {'turret' : 'enable', 'value' : 1, 'turret_ref': value.ref},  value.settings.enabled ?'redButton' : null)}}
                {{:helper.link('Disabled',null, {'turret' : 'enable', 'value' : 0, 'turret_ref': value.ref}, !value.settings.enabled ? 'selected' : null)}}

                {{if data.is_lethal}}
                    {{if value.settings.can_switch}}
                        {{:helper.link('Lethal', null, {'turret' : 'lethal', 'value' : 1, 'turret_ref': value.ref},  value.settings.lethal ?'redButton' : null)}}
                        {{:helper.link('Stun',null, {'turret' : 'lethal', 'value' : 0, 'turret_ref': value.ref}, !value.settings.lethal ? 'selected' : null)}}
                    {{else}}
                        {{:helper.link('Lethal', null, null, 'disabled')}}
                        {{:helper.link('Stun',null, null, 'disabled')}}
                    {{/if}}
                {{/if}}

                {{for value.settings.settings}}
                    {{:helper.link(value.category, null, {'turret' : value.setting, 'value' : 1, 'turret_ref': value.ref},  value.value ?'redButton' : null)}}
                    {{:helper.link(value.category, null, {'turret' : value.setting, 'value' : 0, 'turret_ref': value.ref}, !value.value ? 'selected' : null)}}

                {{/for}}
            </div>
        </div>
        <br><br>
    {{/for}}
</div>