.alien					{color: #543354;}
.tajaran				{color: #803B56;}
.tajaran_signlang		{color: #941C1C;}
.skrell					{color: #00CED1;}
.vaurca					{color: #9e9e39;}
.soghun					{color: #228B22;}
.solcom					{color: #22228B;}
.soghun_alt				{color: #024402;}
.changeling				{color: #800080;}
.rough					{font-family: "Trebuchet MS", cursive, sans-serif;}
.say_quote				{font-family: Georgia, Verdana, sans-serif;}
.yassa					{color: #400987;}
.delvahhi				{color: #5E2612; font-weight: bold;}
.siiktau				{color: #A52A2A;}
.revenant				{color: #215a5c; font-style: italic;}