@use '../colors';

$color-default: colors.$primary !default;
$color-disabled: colors.$grey !default;
$color-selected: colors.$primary !default;
$color-caution: colors.$average !default;
$color-danger: colors.$bad !default;
$color-transparent-text: rgba(255, 255, 255, 0.75) !default;
$bg-map: colors.$bg-map !default;

.Button {
  --color-primary: #{$color-default};
  --button-color-transparent: #{$color-transparent-text};

  &--color--default {
    --color: #{$color-default};
  }

  &--color--caution {
    --color: #{$color-caution};
  }

  &--color--danger,
  &--color--bad {
    --color: #{$color-danger};
  }

  &--disabled {
    --color: #{$color-disabled};
  }

  &--selected {
    --color: #{$color-selected};
  }
}
