@use '../colors';

$color-default: colors.$primary !default;
$tab-color-selected: var(--tab-background-selected) !default;
$text-color: var(--tab-color) !default;

.Tabs {
  --color-primary: #{$color-default};
  --tab-background-selected: #{$tab-color-selected};
  --tab-color: #{$text-color};
}
