

.theme-idris {
  --button-background-default: #297676;
  --button-background-disabled: #363636;
  --button-background-selected: #ffffff;
  --button-background-caution: #be6209;
  --button-background-danger: #ad2727;
  --input-border-color: #ffffff;
  --input-border-color-focus: #ffffff;
  --number-input-border-color: #ffffff;
  --number-input-border-color-active: #ffffff;
  --notice-box-background: #284d4d;
  --notice-box-color: var(--color-text-fixed-white);
  --progress-bar-background: rgba(0, 0, 0, 0.5);
  --progress-bar-fill: #297676;
  --tooltip-background: #284d4d;
  --titlebar-background: #284d4d;
  --color-base: #274646;
  --color-primary: #ffffff;
  --color-bad: #ad2727;
  --base-gradient-spread: 6;
  --section-background: rgba(0, 0, 0, 0.33);

  .Layout__content {
    background-image: url('../../assets/bg-idris.svg');
  }
}
